
body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/* BLOQUE */

.consolas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    margin: 200px 20%;
    position: relative;
    flex-direction:row;
    width: 60%;
    height: 650px;
    overflow: hidden;
    background: linear-gradient(rgb(0, 0, 0),rgb(20, 20,20) 50%, rgb(0, 0, 0));
    justify-content: center;
    border: rgb(51, 51, 51) 1px solid;
}

/* ELEMENTOS */

.consolas__imagen{
    height: 600px;
    width: auto;
    padding: 0px 50px;
    grid-column: 1;
    grid-row: 1;
}

.consolas__info{
    position: relative;
    top: 30%;
    margin: 0px 20px;
    display: block;
    height: 100%;
    width: 80%;
    color: white;
    text-align: justify;
    align-items: center;
    justify-items: center;
    grid-column: 2;
    grid-row: 1;
}
.consolas__logo{
    width: 100%;
    height: auto;
}

.consolas__p{
    font-family: 'Encode Sans SC', sans-serif;
    margin-top: 20px;
}

/* MODIFICADORES PLAYSTATION */

.consolas--play{
    margin-top: 100px;
    border-bottom: 10px rgb(0, 0, 255) solid;
}

.consolas__logo--play{
    filter: drop-shadow(0px 0px 12px rgba(0, 0, 255, 0.753));
}

/* MODIFICADORES XBOX */

.consolas--xbox{
    border-bottom: 10px rgb(0, 255, 0) solid;
}

.consolas__logo--xbox{
    filter: drop-shadow(0px 0px 12px rgba(0, 255, 0, 0.753));
}

/* MODIFICADORES NINTENDO */

.consolas--nintendo{
    border-bottom: 10px rgb(255, 0, 0) solid;
}

.consolas__imagen--nintendo{
    width: 100%;
    height: auto;
}
.consolas__logo--nintendo{
    filter: drop-shadow(0px 0px 12px rgba(255, 0, 0, 0.753));
}

/* MODIFICADORES PC */

.consolas--pc{
    border-bottom: 10px rgb(255, 81, 0) solid;
    
}

.consolas__logo--pc{
    filter: drop-shadow(0px 0px 12px rgba(255, 81, 0.753));
    margin-right: 20px;
}