@media only screen and (min-width: 1900px){
    .menu{
        width: 60% ; 
        height: 8%;
        margin: 0% 20%;
        grid-template-columns: 2fr 3fr;
        grid-template-rows: 1fr
    }    
    .menu__logo{ 
        grid-column:1 ;
        grid-row: 1;
    }

    .menu_lista{
        grid-column:2 ;
        grid-row: 1;
    }

    .carousel--detalles{
        margin: 30px 20% ;
        width: 60% !important;
    }

    .carousel_2nd_bloque{
        width: 60%;
        margin: 30px 20%;
    
    }

    .articulos_div{
        width: 60%;
        margin: 30px 20%;
    }

    .quienessomos_div{
        margin: 0px 20%;
        width: 60%;
    }
}