
$colordetitulos: rgb(255, 255, 255);
$colortextvids:rgb(255, 0, 0);

.titulodepag{
    color: $colordetitulos;
    font-family: 'Staatliches', cursive; 
    font-weight: normal;
    text-align: center;
    padding-top: 5px;
    background-color: rgba(0, 0, 0, 0.486);
    border-top:white 1px solid;
}

.textodevideos1{
    font-family: Arial, Helvetica, sans-serif;
    color: $colortextvids;
    height: 100%;
    width: 100%;
    z-index: 3;
    position: absolute;
    flex-wrap: wrap;
    font-style: italic;
    text-align: center ;
}

.textodevideos2{
    font-family: Arial, Helvetica, sans-serif;
    color: $colortextvids;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    flex-wrap: wrap;
    font-style: italic;
    text-align: center ;
}

.textodevideos3{
    font-family: Arial, Helvetica, sans-serif;
    color: $colortextvids;
    position: absolute;
    z-index: 4;
    flex-wrap: wrap;
    font-style: italic;
    text-align: center ;
}

@import "maps";