.inlineClass{
    display: inline-flex;
    width: 1000px;
    height: 250px;
    justify-content: center;
}

.items{
    height: 400px;
    width: 200px;
    margin: 10px;
    border: grey 1px solid;
    border-radius: 10px;
}